*{
  box-sizing: border-box;
}

html, 
body{
  margin: 0;
  padding: 0;
}

.App {
  margin: 0 auto;
  padding: 0;
  background-color: teal;
}

h1 span{
  margin: 0;
  background-image: linear-gradient(45deg, red, green, lime, white);
  background-clip: text;
  color: transparent;
}
