.App {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  background-color: teal;
  height: 100vh;
  color: lime;
}

main{
  margin: 0 auto;
  background-image: url("./logo.svg");
  background-repeat: no-repeat;
  color: red;
}

h1{
  text-transform: uppercase;
  text-decoration: dashed;
}